build/
cmake-build-*/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CTestTestfile.cmake
Makefile

*.o
*.obj
*.so
*.dll
*.exe
*.out
*.a
*.lib

*.swp
*.swo
*.user
*.log

.idea/
.vscode/

.DS_Store
Thumbs.db
